################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/LowLevelSystemDesign/obj
/LowLevelSystemDesign/bin
/ParkingLot/bin
/ParkingLot/obj
